body {
    background: #eeeeee;
    color: #303030;
}

@font-face {
    font-family: 'ralewayblack';
    src: url('fonts/ralewayblackwebfont.woff2') format('woff2'),
    url('fonts/ralewayblackwebfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto_bold_webfont.woff2') format('woff2'),
    url('fonts/roboto_bold_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto_light_webfont.woff2') format('woff2'),
    url('fonts/roboto_light_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto_regular_webfont.woff2') format('woff2'),
    url('fonts/roboto_regular_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway_regular_webfont.woff2') format('woff2'),
    url('fonts/raleway_regular_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('fonts/raleway_semibolditalic_webfont.woff2') format('woff2'),
    url('fonts/raleway_semibolditalic_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
    color: #303030;
    text-decoration: none;
}

header {
    width: 1200px;
    margin: 0 auto
}

#logo {
    width: 275px;
    height: 36px;
    background: url("img/Navbar.png");
    float: left;
    margin-top: 48px
}

#nav {
    float: right;
    margin-top: 50px;
}

#nav a {
    font-family: 'robotoregular', sans-serif;
    font-size: 18px;
    margin-left: 60px;
}

/*#hd:after {
    content: '';
    display: block;
    clear: both;
}*/

#hph {
    margin-top: 0;
    width: 100%;
    height: 820px;
    background: url(img/Slider.png) no-repeat 345px 0;
    /*background-position:;*/
}

#txt {
    float: left;
    width: 615px;
    height: 491px;
    margin: 0;
    font-size: 24px
}

#h {
    font-size: 150px;
    font-family: ralewayblack, sans-serif;
    font-weight: bold;
    text-align: right;
    margin-top: 88px;
    margin-bottom: 0;
    text-transform: uppercase;
}

#txt p {
    display: inline-block;
    text-align: right;
    font-family: robotolight, sans-serif;
}

#txt a {
    float: right;
    color: #e10011;
    font-family: robotobold, sans-serif;
    text-align: right;
}

b:before {
    content: '';
    display: block;
    clear: both;
}

#slide {
    margin: 0 auto;
    width: 80px;
    height: 50px;
}

#slide div {
    background: #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
}

#slide div:hover {
    background: red;
    cursor: pointer;
}

#nav a:hover {
    color: red;
    cursor: pointer;
}

#txt a:hover {
    color: #acab8a;
}

main {
    background: #ffffff;
    width: 1200px;
    margin: 0 auto;
    min-height: 1193px;
}

h1 {
    text-align: center;
    font-size: 48px;
    padding-top: 50px;
    margin-bottom: 10px;
    font-family: ralewayblack, sans-serif;
}

#zvezda {
    margin: 0 495px;
}

main p, footer p {
    display: block;
    width: 45%;
    font-size: 18px;
    font-family: ralewayregular, sans-serif;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 30px;
}

.row3, .row2 {
    width: 1056px;
    height: 387px;
    margin: 31px auto
}

.row2 .col {
    width: 328px;
    display: inline-block;
    height: 100%;
    margin-left: 65px;
}

.row2 .col2 {
    width: 656px;
    height: 100%;
    display: inline-block;
    margin-left: 0
}

.row3 .col {
    width: 328px;
    display: inline-block;
    height: 100%;
    margin-right: 31px;
}

.row3 .col:last-child {
    margin: 0;
}

form div {
    display: block;

}

div input {
    height: 63px;
    width: 486px;
    float: left;
    margin-left: 330px;
    border-radius: 30px 0 0 30px;
    background-color: #fff;
    font-size: 18px;
    font-family: ralewaysemibold_italic, sans-serif;
    outline-style: none;
}

#butt {
    margin: 0;
    background: #e10011;
    width: 208px;
    height: 70px;
    border-radius: 0 30px 30px 0;
    border-color: #e10011;
    color: white;
    font-size: 18px;
    font-family: robotobold, sans-serif;
}

form:after {
    content: '';
    display: block;
    clear: both
}

#socials {
    margin: 125px 0 25px 430px;
}

#socials li {
    display: inline-block;
}

#socials a {
    display: block;
    width: 72px;
    height: 72px;
    background: url(img/social.png) no-repeat;
    margin-right: 20px;
}

#socials li:last-child a {
    margin-right: 0
}

#socials .twit {
    background-position: -90px 0;

}

#socials .yout {
    background-position: -180px 0;
}

#socials .me {
    background-position: -267px 0;

}

.row3 {
    position: relative
}

#one {
    position: absolute;
    top: 0
}

.row3 .col:first-child:hover #one {
    display: none;
}