body {
    border: solid 10px white;
    margin: 0;
    background-color: #3B3F45;
    font-family: "Trebuchet MS", sans-serif;
    /*'Trebuchet MS', Trebuchet, Arial, sans-serif*/
}

* {
    transition: all .1s ease-in;
}

header {
    background-color: #4A4F56;
    text-align: center;
    margin: 0;

}

header p:first-of-type {
    margin: 0;
    font-size: 40px;
    color: #EB7E7F;
    padding-top: 10px;
}

header p, footer p:last-of-type {
    margin: 0;
    font-size: 30px;
    color: #EB7E7F;
    padding-bottom: 10px;

}

div {
    margin-top: 40px;
    display: block;
}

div li {

    margin-left: 270px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #88839E;
    display: block;
    border-top: solid 5px #88839E;
    border-bottom: solid 5px #88839E;

}


li:nth-child(even) {
    background-color: #7A7593;
    border-top: solid 5px #7A7593;
    border-bottom: solid 5px #7A7593;

}
input[type="checkbox"]{
    transform: scale(2,2);
    margin-left: 15px}
label {
    width:calc(100% - 50px);
    padding-left: 10px;
    color: #e2e8e8;
    font-size: 25px;
    display: inline-block;
}

li:hover {
    background-color: #625E77;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}

li:active {
    background-color: #EB7E7F;
}

input:checked + label {text-decoration: line-through}
label:after{
    color: #B6C3D2;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 5px;}

div li:nth-child(1) label:after {
    content:'( for the next lessons about CSS )';

}
div li:nth-child(2) label:after {
    content: '( for CSS manipulations )';
}
div li:nth-child(3) label:after {
    content: '( because they are awesome )';
}
div li:nth-child(4) label:after {
    content: '( hm... they always disappear )';
}
div li:nth-child(6) label:after {
    content: '( for my friends )';
}

footer {

    background-color: #4A4F56;
    margin-left: 310px;
    width: 48.5%;
    text-align: center;
}