.wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: 640px) {
    flex-wrap: wrap;
    }
  div {
    //width: 12.5%;
    width: 200px;
    margin:10px;
    min-height: 400px;
    //height: 400px;
    //overflow: auto;
    background: #8f8f8f;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-all;
    @media (max-width: 640px) {
      width: calc(50% - 20px);
      min-width: 200px;
    }
    @media (max-width: 480px) {
           width: 100%;
      margin: 10px 0;
      min-width: 200px;
      min-height: initial;
    }
    @media (max-width: 480px) and (min-width: 300px){
      background: #ff1715;
    }
    @media (-webkit-device-pixel-ratio: 2) {
    font-size: 18px;
    }
  }
}
