@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@font-face {
  font-family: "aleoregular";
  src: url("fonts/aleo-regular-webfont.woff2") format("woff2"), url("fonts/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background: #232323;
  color: #e8e8e8;
  font: 400 16px "Josefin Sans", sans-serif;
  line-height: 2em;
}

h2 {
  font: 400 36px "aleoregular", sans-serif;
  padding-bottom: 20px;
}

h1, h3 {
  font: 700 20px "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font: 400 14px "Josefin Sans", sans-serif;
}

p {
  padding: 10px 0;
}

.cls-2 {
  stroke: #f6f7fc;
  stroke-width: 2px;
  fill: none;
}

.cls-3 {
  fill: #e8e8e8;
}

.cls-4 {
  stroke: #5474fd;
  stroke-width: 1.5px;
  fill: none;
}

.cls-5 {
  fill: #ff6363;
}

.cls-6 {
  fill: #00a2ff;
}

.section-inner {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}

#s1 {
  min-height: 100vh;
  background: url("img/Image.jpeg") no-repeat;
  background-size: cover;
}
#s1 .section-inner {
  padding-top: 150px;
}
#s1 .section-inner h1 {
  font-size: 48px;
  margin: 0;
}
#s1 .section-inner p {
  font-size: 22px;
  letter-spacing: 5px;
  margin: 10px 0 50px;
}
#s1 .section-inner input {
  width: 500px;
  height: 60px;
  border: none;
  text-align: center;
  vertical-align: top;
}
#s1 .section-inner input input:focus {
  background: #acac74;
}
#s1 .section-inner button {
  width: 225px;
  height: 60px;
  color: white;
  background: #5474fd;
  text-transform: uppercase;
  border: none;
  font: 400 14px aleoregular, sans-serif;
  letter-spacing: 2px;
  width: 150px;
  margin: 0 -5px;
  border: 2px solid white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#s1 .section-inner button:hover {
  background: #224bfc;
  cursor: pointer;
}
#s1 .section-inner button a {
  line-height: 60px;
}
#s1 .section-inner button svg {
  margin: 0 0 7px 10px;
}
#s1 .section-inner #scr {
  padding: 120px 0;
}
#s1 .section-inner #scr p {
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 5px;
}
#s1 #head-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #5474fd;
  height: 80px;
}
#s1 #head-nav .logo {
  text-align: left;
  width: 30%;
}
#s1 #head-nav .logo a {
  margin-left: 130px;
  font: 700 24px "Josefin Sans", sans-serif;
}
#s1 #head-nav .nav {
  margin-right: 130px;
}
#s1 #head-nav .nav a {
  margin-left: 30px;
}

#s2 {
  min-height: 100vh;
  background: url("img/s2main.jpeg") no-repeat;
  background-size: cover;
}
#s2 .section-inner {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 120px 0;
}
#s2 .section-inner div {
  width: 45%;
  align-self: center;
}
#s2 .section-inner div button {
  width: 225px;
  height: 60px;
  color: white;
  background: #5474fd;
  text-transform: uppercase;
  border: none;
  font: 400 14px aleoregular, sans-serif;
  letter-spacing: 2px;
  margin-top: 40px;
}
#s2 .section-inner div button:hover {
  background: #224bfc;
  cursor: pointer;
}
#s2 .section-inner div button a {
  line-height: 60px;
}
#s2 .section-inner div .img1, #s2 .section-inner div .img2 {
  width: 360px;
  height: 225px;
  background-size: cover;
}
#s2 .section-inner div .img1 {
  background: url("img/s2img1.jpeg") no-repeat;
  float: left;
}
#s2 .section-inner div .img2 {
  background: url("img/s2img2.jpeg") no-repeat;
  float: right;
}
#s2 #s2foot {
  width: 100%;
  height: 337px;
  background: url("img/bgs2.jpeg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
#s2 #s2foot div {
  width: 240px;
  height: 160px;
  margin: 110px 60px 0 75px;
}
#s2 #s2foot div svg {
  display: block;
  margin: 0 auto;
  border: 15px solid #333333;
  background: #333333;
}

#s3 {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  background: url("img/s3main.jpeg") no-repeat;
}
#s3 div {
  margin-top: 50px;
  width: 35%;
  background: rgba(38, 36, 37, 0.7);
  align-self: center;
}
#s3 .s3inner {
  padding: 25px;
}
#s3 button {
  width: 225px;
  height: 60px;
  color: white;
  background: #5474fd;
  text-transform: uppercase;
  border: none;
  font: 400 14px aleoregular, sans-serif;
  letter-spacing: 2px;
}
#s3 button:hover {
  background: #224bfc;
  cursor: pointer;
}
#s3 button a {
  line-height: 60px;
}

#s4 {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  background: url("img/s4main.jpeg") no-repeat;
}
#s4 div {
  margin-top: 50px;
  width: 35%;
  background: rgba(38, 36, 37, 0.7);
  align-self: center;
}
#s4 .s3inner {
  padding: 25px;
}
#s4 button {
  width: 225px;
  height: 60px;
  color: white;
  background: #5474fd;
  text-transform: uppercase;
  border: none;
  font: 400 14px aleoregular, sans-serif;
  letter-spacing: 2px;
}
#s4 button:hover {
  background: #224bfc;
  cursor: pointer;
}
#s4 button a {
  line-height: 60px;
}

#s5 {
  min-height: 100vh;
  background: url("img/s5main.jpeg") no-repeat;
  background-size: cover;
}
#s5 .section-inner {
  padding: 100px 0 200px;
}
#s5 .s5block {
  display: flex;
  justify-content: center;
  text-align: left;
  height: 284px;
}
#s5 .s5block div:nth-child(2) {
  padding: 20px;
  background: #333333;
  width: 665px;
}

footer {
  padding-top: 100px;
  background: #232323;
  height: 270px;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social div {
  margin: 10px;
}

/*# sourceMappingURL=main.css.map */
